[submodule "DUMMY_GUI/include/eigen"]
	path = DUMMY_GUI/include/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "DUMMY_GUI/wxWidgets"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
